div#alert-modal.modal.fade
    div.modal-dialog
        div.modal-content
            div.modal-body 
                strong Test 123345456
            div.modal-footer
                button.btn.btn-default.btn-center(type="button" data-dismiss="modal") OK
