footer#footer-appcordovajade(data-script="Footer")
	.container-fluid
		.row
			.col-xs-4.button-footer.active
				a(href="#" data-group="#consulta" data-brand="Consulta")
					img.img-responsive(src="img/consulta.png")
			.col-xs-4.button-footer 
				a(href="#" data-group="#qr" data-brand="Espelho Eletrônico")
					img.img-responsive(src="img/qr.png")
			.col-xs-4.button-footer 
				a(href="#" data-group="#cadastro" data-brand="Cadastro")
					img.img-responsive(src="img/cadastro.png")