div.navbar.navbar-default.navbar-static-top.navbar-appcordovajade
	div.container-fluid
		a.set-back(href="#main") 
			img.img-responsive(src="img/arrow_left.png" style="width: 20px;")
		a.navbar-brand Consulta
		