#footer-appcordovajade {
	background: #0076ff;
	position: fixed;
	bottom: 0;
	width: 100%;
	
	.button-footer {
		a {
			display: block;
			height: 50px;
			text-align: center;
			padding: 11px 0;

			img {
				width: 26px;
				margin: 0 auto;
				display: block;
			}
		}
		&.active {
			background: #002e5d;
		}
	}
}